<h1>New Message</h1>

<% if @message.errors.any? %>
  <p>
    Something went wrong!
  </p>
  <ul>
    <% @message.errors.full_messages.each do |message| %>
      <li>
        <%= message  %>
      </li>
    <% end %>
  </ul>
<% end %>


<%= form_for @message do |f| %>
  <p>
  <%= f.text_field :to, placeholder: "To" %>
  </p>
  <p>
  <%= f.text_field :from, placeholder: "From"%>
  </p>
  <p>
  <%= f.text_field :body, placeholder: "Body" %>
  </p>
  <p>
  <%= f.submit "Send" %>
  </p>
<% end %>
