<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Sign Up</h3>
      </div>
      <div class="panel-body">
        <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <%= f.email_field :email, autofocus: true %>
          <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <%= f.submit "Sign up", class: "btn btn-success" %>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>
