

<% if @number.errors.any? %>
  <p>
    Something went wrong!
  </p>
  <ul>
    <% @number.errors.full_messages.each do |message| %>
      <li>
        <%= message  %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">New Number</h3>
      </div>
      <div class="panel-body">
        <%= bootstrap_form_for @number do |f| %>
          <%= f.text_field :name %>
          <%= f.text_field :phone %>
          <%= f.submit "Add number", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-3"></div>
</div>
